@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-text-1: #f98c5d;
  --color-text-2: #d95f69;
  --color-text-3: #ffc15a;
  --color-text-4: #00c5be;
  --color-text-5: #0090d1;
  --color-text-6: #48817d;
  --color-text-7: #5a2b5aaf;

  --header-height: 90px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100vh;
  width: 100%;
  font-family: var(--font-montserrat);
}

@layer utilities {
  .globe-background {
    position: absolute;
    width: calc(100vh * 0.8); /* Adjust size as needed */
    height: calc(100vh * 0.8);
    background: radial-gradient(
      circle,
      rgba(45, 212, 191, 1) 0%,
      rgba(45, 212, 191, 0) 70%
    );
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    max-width: 100vw;
    max-height: 100vw;
  }

  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    @apply mx-auto px-4 md:px-8 lg:px-10 py-4 w-full;
  }

  .text-shadow-same {
    text-shadow: 2px 5px 10px currentColor;
  }
}
