@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --app-primary-color: #001f3f;
  --app-secondary-color: #38b3a5;
  --app-primary-color: #ffba4b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    #051937,
    #003c5e,
    #00627f,
    #008a97,
    #38b3a5
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
